.section__title {
    display: inline-block;
    font-size: 26px;
    margin: 65px 0 130px;
    @include media($size4) {
        margin: 30px 0 50px;
    }
}

.team {
    position: relative;
    text-align: center;
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__item {
        width: 250px;
    }
    &__circle {
        position: relative;
        display: inline-block;
        height: 200px;
        width: 200px;
        border: 1px solid transparent;
        border-radius: 50%;
        background: #eeeef0;
        margin-bottom: 60px;
        @include media($size4) {
            margin-bottom: 20px;
        }
    }
    &__name,
    &__post,
    &__text {
        color: #4e525d;
        font-size: 14px;
    }
    &__name {
        font-size: 22px;
    }
    &__post {
        margin-bottom: 25px;
    }
    &__text {
        margin-bottom: 110px;
        @include media($size4) {
            margin-bottom: 50px;
        }
    }
}

.active__circle {
    &:after,
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #f46d6d;
    }
    &:after {
        height: 11px;
        width: 42px;
    }
    &:before {
        width: 11px;
        height: 42px;
    }
}