.has-error {
    background-color: #fad2d1 !important;
    border-color: #f97e76 !important;
}

.qtip-mystyle {
    background-color: #f97e76;
    border-color: #f97e76;
    color: #fff;
    font-size: 13px;
}