/*-----------------------------------
colors
-----------------------------------*/

$blue: #49cbcd;
$grey: #4e525d;

/*-----------------------------------
adjustment
-----------------------------------*/

@mixin media($size) {
    @media (max-width: $size) {
        @content;
    }
}

$size1: 1190px;
$size2: 1080px;
$size3: 980px;
$size4: 768px;
$size5: 480px;
html,
body {
    width: 100%;
    min-height: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 1.42;
    color: $grey;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    // height: 100%;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

// mixins